body, html {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {    
    background-color: rgb(255, 255, 255);   
}

label{
    padding-top: 3px;
    padding-right: 2px;
    display: inline-block;
    font-size: 70%;
}

#Wticon{
    float: right;
    width: 30px;
    height: 30px;
    padding: 0;
}

.welcome{  
    float: left;
    padding-left: 635px;
    padding-right: 0;
}

.weather{
    float: right;
    align-content: right;
    padding-right: 0;
}
.clock{
    clear: both;
    padding: 0;
    margin: 0 600px;
    background: none;
}

h1{
    text-align: center;
    font-family: Palatino;
    font-size: 300%;
    padding: 20px;
}

input[type=text], select {
    text-align: left;
    font-size: 150%;
    width: 500px;
    padding: 0 20px;
    margin: 0 510px;
    display: inline-block;
    border-style: hidden;
    border-bottom: solid; 
    background: transparent;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}