body, html {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {    
    background-color: rgb(255, 255, 255);   
}

label{
    padding-top: 3px;
    padding-right: 2px;
    display: inline-block;
    font-size: 70%;
}

#Wticon{
    float: right;
    width: 30px;
    height: 30px;
    padding: 0;
}

.welcome{  
    float: left;
    padding-left: 635px;
    padding-right: 0;
}

.weather{
    float: right;
    align-content: right;
    padding-right: 0;
}
.clock{
    clear: both;
    padding: 0;
    margin: 0 600px;
    background: none;
}

h1{
    text-align: center;
    font-family: Palatino;
    font-size: 300%;
    padding: 20px;
}

input[type=text], select {
    text-align: left;
    font-size: 150%;
    width: 500px;
    padding: 0 20px;
    margin: 0 510px;
    display: inline-block;
    border-style: hidden;
    border-bottom: solid; 
    background: transparent;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.search{
    position: absolute;
    display: flex;
    bottom: 15%;     
}

.search_form{
    margin: auto;
}

.loading{
    position: absolute;
    top: 3px;
    right: 10px;    
}

.setting{
    
    position: absolute;
    bottom: 8px;
    right: 13px;
    height: 30px;
    width: 30px;
}

.popup_tab{
    position: absolute;
    z-index: 3;
    display: none;
   background: transparent;
    width: 100%;
    top:0;
    height:100%;
}

.popup_tab_container{
    background-color: #fefefe;
    width:500px;
    margin: auto;
    display:block;
    align-items: center;
    vertical-align: middle;
    
    border: 1px solid #888;
}

.pop_bg{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}